[submodule "foundry-FundMe-f23/lib/forge-std"]
	path = foundry-FundMe-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry-FundMe-f23/lib/chainlink-brownie-contracts"]
	path = foundry-FundMe-f23/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
